name: Test

run-name: ${{ inputs.correlation-id && format('Dispatch [{0}]', inputs.correlation-id) || 'Test' }}

on:
  workflow_call:
    secrets:
      CLOUDSMITH_CICD_USER:
        required: false
      CLOUDSMITH_CICD_TOKEN:
        required: false
    inputs:
      runtime:
        required: true
        type: string

      registry:
        description: "The Docker registry to use"
        type: string
        required: false

      image:
        description: "The Docker image to use"
        type: string
        required: false

      tag:
        description: "The Docker image tag to use"
        type: string
        required: false

      correlation-id:
        description: "Optional CorrelationId to identify the workflow run"
        type: string
        required: false

  workflow_dispatch:
    inputs:
      runtime:
        description: "Runtime to test"
        required: true
        type: choice
        default: ci
        options:
          - previous-lts
          - lts
          - ci 
          - qa

      registry:
        description: "Docker registry to use"
        type: string
        required: false

      image:
        description: "Docker image to use"
        type: string
        required: false

      tag:
        description: "Docker image tag to use"
        type: string
        required: false

      correlation-id:
        description: "Optional CorrelationId to identify the workflow run"
        type: string
        required: false

jobs:
  load_configuration:
    uses: ./.github/workflows/load-configuration.yml
    with:
      runtime: ${{ inputs.runtime }}
      registry: ${{ inputs.registry }}
      image: ${{ inputs.image }}
      tag: ${{ inputs.tag }}

  test:
    name: Test
    needs: load_configuration
    timeout-minutes: 10

    strategy:
      fail-fast: false
      matrix:
        framework: [ net8.0, net9.0, net10.0 ]
        test: [ Streams, PersistentSubscriptions, Operations, UserManagement, ProjectionManagement, Security, Diagnostics, Misc ]

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Login to Cloudsmith via docker.cloudsmith.io
        uses: docker/login-action@v3
        with:
          registry: docker.cloudsmith.io
          username: ${{ secrets.CLOUDSMITH_CICD_USER }}
          password: ${{ secrets.CLOUDSMITH_CICD_TOKEN }}

      - name: Login to Cloudsmith via docker.kurrent.io
        uses: docker/login-action@v3
        with:
          registry: docker.kurrent.io
          username: ${{ secrets.CLOUDSMITH_CICD_USER }}
          password: ${{ secrets.CLOUDSMITH_CICD_TOKEN }}

      - name: Login to Cloudsmith via docker.eventstore.com
        uses: docker/login-action@v3
        with:
          registry: docker.eventstore.com
          username: ${{ secrets.CLOUDSMITH_CICD_USER }}
          password: ${{ secrets.CLOUDSMITH_CICD_TOKEN }}

      - name: Install dotnet SDKs
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: |
            8.0.x
            9.0.x
            10.0.x

      - name: Run Tests
        shell: bash
        env:
          TESTCONTAINER_KURRENTDB_IMAGE: "${{ needs.load_configuration.outputs.registry }}/${{ needs.load_configuration.outputs.image }}:${{ needs.load_configuration.outputs.tag }}"
        run: |
          sudo ./gencert.sh
          dotnet test --configuration release --blame \
            --logger:"GitHubActions;report-warnings=false" --logger:"console;verbosity=normal" \
            --framework ${{ matrix.framework }} \
            --filter "Category=Target:${{ matrix.test }}" \
            test/KurrentDB.Client.Tests

